@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h2>Welcome to the Task Management System</h2>
    <h3>To view your tasks, please log in.</h3>
    <p>Sign In</p>
    <p>Sign Up</p>
</div>
